:root {
	--background: #89a8b2;
	--secondary-color: #045f78;
	--tertiary-color: #067c9c;
	--box-color: #f1f0e8;
	--text-color: #211e1e;
	--icon-bg: #024950;
	--book-view-light-bg-1: #322f2a;
	--book-view-light-color-1: #e5dbcf;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	/* prevent blue highlighting of elements */
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

button {
	outline: none;
	border: none;
	font-size: inherit;
	font-family: inherit;
}

html,
body {
	overflow: hidden;
}

body {
	background-color: var(--background);
	direction: rtl;
	text-align: right;
	text-align: right;
	font-family: "Yekan", sans-serif;
	color: var(--text-color);
}

@font-face {
	font-family: "Yekan";
	src: url("../fonts/Yekan.eot");
	src: url("../fonts/Yekan.eot?#iefix") format("embedded-opentype"),
		url("../fonts/Yekan.woff") format("woff"),
		url("../fonts/Yekan.ttf") format("truetype"),
		url("../fonts/Yekan.svg#Yekan") format("svg");
}

.hidden {
	display: none !important;
}

.bold {
	font-size: 1.4em;
	display: inline-block;
	margin-bottom: 15px;
}

.top-left-icon {
	width: 45px;
	height: 45px;
	background-color: var(--icon-bg);
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 10px;
	left: 20px;
	line-height: 1;
	cursor: pointer;
}

.home-btn {
	z-index: 10001;
}

.back-btn {
	z-index: 10000;
}

.top-left-icon__link {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.top-left-icon i {
	font-size: 23px;
	color: #fff;
}

/* sidebar */

.sidebar-wrapper {
	height: 100%;
	width: 300px;
	position: relative;
}

.sidebar-wrapper .menu-btn {
	position: fixed;
	right: 20px;
	top: 10px;
	background: #024950;
	color: #fff;
	height: 45px;
	width: 45px;
	z-index: 10001;
	border: 1px solid #0a4147;
	border-radius: 5px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.3s ease;
}

#btn:checked ~ .menu-btn {
	right: 247px;
}

.sidebar-wrapper .menu-btn i {
	position: absolute;
	font-size: 23px;
	transition: all 0.3s ease;
}

.sidebar-wrapper .menu-btn i.fa-times {
	opacity: 0;
}

#btn:checked ~ .menu-btn i.fa-times {
	opacity: 1;
	transform: rotate(180deg);
}

#btn:checked ~ .menu-btn i.fa-bars {
	opacity: 0;
	transform: rotate(-180deg);
}

#sidebar {
	position: fixed;
	background: #404040;
	height: 100%;
	width: 270px;
	overflow: hidden;
	right: -270px;
	transition: all 0.3s ease;
	z-index: 10000;
}

#btn:checked ~ #sidebar {
	right: 0;
}

#sidebar .sidebar-title {
	line-height: 65px;
	text-align: center;
	background: #003135;
	font-size: 25px;
	font-weight: 600;
	color: #f2f2f2;
	border-bottom: 1px solid #222;
}

#sidebar .list-items {
	position: relative;
	background: #024950;
	width: 100%;
	height: 100%;
	list-style: none;
}

#sidebar .list-items li {
	padding-right: 40px;
	line-height: 50px;
	border-top: 1px solid rgba(255, 255, 255, 0.1);
	border-bottom: 1px solid #333;
	transition: all 0.3s ease;
}

#sidebar .list-items li:hover {
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
	box-shadow: 0 0px 10px 3px #222;
}

#sidebar .list-items li:first-child {
	border-top: none;
}

#sidebar .list-items li a {
	color: #f2f2f2;
	text-decoration: none;
	font-size: 18px;
	font-weight: 500;
	height: 100%;
	width: 100%;
	display: block;
}

#sidebar .list-items li a i {
	margin-left: 20px;
}

#sidebar .list-items .icons {
	width: 100%;
	height: 40px;
	text-align: center;
	position: absolute;
	bottom: 100px;
	line-height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
}

#sidebar .list-items .icons a {
	height: 100%;
	width: 40px;
	display: block;
	margin: 0 5px;
	font-size: 18px;
	color: #f2f2f2;
	background: #095b63;
	border-radius: 5px;
	border: 1px solid #09484f;
	transition: all 0.3s ease;
}

#sidebar .list-items .icons a:hover {
	background: #124045;
}

.list-items .icons a:first-child {
	margin-left: 0px;
}

/* sidebar */

.header {
	padding: 7px 0 13px 0;
	text-align: center;
	font-size: 23px;
	font-weight: 700;
}

.infobox-wrapper {
	height: calc(100vh - 66px);
}

/* box */

.infobox-section {
	text-align: center;
	padding: 20px;
	line-height: 1.6;
}

.infobox {
	cursor: pointer;
}

.infobox-section h1 {
	font-size: 1.6rem;
	color: #1a1a40;
	margin-bottom: 10px;
}

.infobox-section > p {
	font-size: 1rem;
	color: #6b6b82;
	margin-bottom: 22px;
}

.infobox-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	gap: 12px;
	padding: 0 20px;
}

.infobox {
	border-radius: 10px;
	padding: 20px;
	text-align: right;
	/*	transition: transform 0.3s ease; */
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/*
.infobox:hover {
	transform: translateY(-10px);
}
*/

.infobox .icon {
	font-size: 2rem;
}

.infobox .icon img {
	width: 35px;
	vertical-align: sub;
}

.infobox h2 {
	font-size: 1.2rem;
	color: #1a1a40;
	margin-bottom: 10px;
}

.infobox p {
	font-size: 0.7rem;
	color: #6b6b82;
}

.infobox .learn-more {
	font-size: 1rem;
	color: #3b50e0;
	text-decoration: none;
}

.infobox .learn-more:hover {
	text-decoration: underline;
}

/* box */

/* content */

.book-content-container {
	position: fixed;
	top: 0;
	right: -100vw;
	padding: 0 20px;
	text-align: justify;
	width: 100vw;
	height: 100vh;
	overflow-y: scroll;
	background-color: var(--book-view-light-bg-1);
	color: var(--book-view-light-color-1);
	transition: right 0.3s ease;
	z-index: 1001;
}

.book-content--open {
	right: 0;
}

.book-content-title-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 65%;
	margin: 10px auto 20px auto;
	height: 45px;
	padding: 0 0.5rem;
	background-color: red;
	border-radius: 5px;
	position: sticky;
	top: 10px;
	left: 0;
}

.book-content-title {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	font-size: 1rem;
	font-weight: 600;
}

/* content */

/* list box */

.menu-slide-wrapper {
	height: 100vh;
	margin: 0 20px 20px 20px;
	padding-top: 75px;
}

.box-wrapper {
	display: flex;
}

.box {
	flex-grow: 1;
	flex-shrink: 0;
	border-bottom: 20px solid var(--secondary-color);
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.box h2 {
	color: #fff;
	background: var(--secondary-color);
	font-size: 20px;
	font-weight: 700;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	padding: 10px 20px;
}

.box ul {
	background: #fff;
	max-height: calc(100vh - 170px);
	overflow-y: scroll;
}

.box ul:hover li {
	opacity: 0.2;
}

.box ul li {
	list-style: none;
	padding: 10px;
	width: 100%;
	background: #fff;
	box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
	transition: font-size 0.5s;
	cursor: pointer;
	display: flex;
	align-items: center;
}

.box ul li:hover {
	font-size: 1.2em;
	z-index: 5;
	background: var(--tertiary-color);
	box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
	color: #fff;
	opacity: 1;
}

.box ul li span {
	width: 20px;
	height: 20px;
	text-align: center;
	line-height: 20px;
	background: var(--tertiary-color);
	color: #fff;
	display: inline-block;
	border-radius: 50%;
	margin-left: 10px;
	font-size: 12px;
	font-weight: 600;
}

.box ul li:hover span {
	background: #fff;
	color: var(--tertiary-color);
}

/* list box */

/* dropdown */

.dropdown-container {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 10px;
	left: 50%;
	z-index: 1000;
	transform: translateX(-50%);
	margin-bottom: 35px;
}

.dropdown {
	display: inline-block;
	position: relative;
	left: 0;
	top: 0;
}

/* === Dropdown button styles === */
.dropdown-toggle {
	-webkit-transition: background-color 0.3s, color 0.3s;
	transition: background-color 0.3s, color 0.3s;
	will-change: background-color, color;
	cursor: pointer;
	border-radius: 0.25rem;
	background-color: var(--icon-bg);
	padding: 0.5rem 1rem;
	color: #fff;
	font-weight: 600;
	display: flex;
	align-items: center; 
	width: max-content;
	height: 45px;
}

/* === Dropdown icon styles === */
.dropdown-toggle::after {
	display: inline-block;
	margin-right: 0.5rem;
	content: "\f078";
	color: inherit;
	font-size: 0.875rem;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	display: var(--fa-display, inline-block);
	font-style: normal;
	font-variant: normal;
	line-height: 1;
	text-rendering: auto;
	font-family: "Font Awesome 6 Free";
	font-weight: 900;
}

/* === Hover state === */
.dropdown-toggle:hover {
	background-color: var(--secondary-color);
	color: #f1f1f1;
}

/* === Focus-visible state === */
.dropdown-toggle:focus-visible {
	outline: 3px solid #444857;
	outline-offset: 2px;
}

/* === Active state === */
.dropdown-toggle:active {
	background-color: var(--secondary-color);
	color: #e6e6e6;
}

/* === Disabled state === */
.dropdown-toggle:disabled {
	opacity: 0.7;
	cursor: not-allowed;
	background-color: #b3b3b3;
	color: #666666;
}

/* === Dropdown menu styles === */
.dropdown-menu {
	-webkit-transform: translateY(-10px);
	-webkit-transition: opacity 0.3s ease, -webkit-transform 0.3s ease,
		visibility 0.3s;
	position: absolute;
	top: calc(100% + 0.25rem);
	right: 0;
	transform: translateY(-10px);
	visibility: hidden;
	opacity: 0;
	z-index: 1000;
	transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;
	will-change: opacity, transform, visibility;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	border-radius: 0.25rem;
	background-color: #fff;
	padding: 0.5rem 0;
	min-width: 150px;
	width: max-content;
	line-height: 1.6;
}

/* === Dropdown open state === */
.dropdown.open .dropdown-menu {
	-webkit-transform: translateY(0);
	transform: translateY(0);
	visibility: visible;
	opacity: 1;
}

/* === Menu links styles === */
.dropdown-menu a {
	-webkit-transition: background-color 0.15s;
	display: block;
	transition: background-color 0.15s;
	will-change: background-color;
	padding: 0.5rem 1.25rem;
	color: #444;
	font-weight: 500;
	font-size: 0.875rem;
	text-decoration: none;
}

.dropdown-menu a:hover {
	background-color: #f5f5f5;
}

/* === Animation for dropdown links === */
.dropdown.open .dropdown-menu li {
	-webkit-transform: translateY(10px);
	-webkit-animation: fadeIn 0.3s ease forwards;
	transform: translateY(10px);
	opacity: 0;
	animation: fadeIn 0.3s ease forwards;
}

@keyframes fadeIn {
	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@-webkit-keyframes fadeIn {
	to {
		-webkit-transform: translateY(0);
		opacity: 1;
	}
}

/* dropdown */
